<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-close">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body item-modal">

      <% unless @item.images.blank? %>
        <div class="col-md-6">
          <% if @item.images.count > 1 %>
            <div id="slideshow" class="fullscreen">
              <!-- Below are the images in the gallery -->
              <% @item.images.each_with_index do |image, index| %>
                <div id="img-<%= index %>" data-img-id="<%= index %>" class="img-wrapper <%= 'active' if index == 0 %>" style="background-image: url('<%= image.file.url %>')"></div>
              <% end %>

              <!-- Below are the thumbnails of above images -->
              <div class="thumbs-container bottom">
                <div id="prev-btn" class="prev">
                  <i class="fa fa-chevron-left fa-2x"></i>
                </div>

                <ul class="thumbs">
                  <% @item.images.each_with_index do |image, index| %>
                    <li data-thumb-id="<%= index %>" class="thumb <%= 'active' if index == 0 %>" style="background-image: url('<%= image.file.url %>')"></li>
                  <% end %>
                </ul>

                <div id="next-btn" class="next">
                  <i class="fa fa-chevron-right fa-2x"></i>
                </div>
              </div>
            </div>
          <% else %>
            <div id="slideshow" class="fullscreen">
              <% @item.images.each_with_index do |image, index| %>
                <div class="img-wrapper active" style="background-image: url('<%= image.file.url %>')"></div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="col-md-6">
        <div class="item-detail">
          <h3><%= best_in_place [:brand, @item], :title, tabindex: "1" %></h3>
          <span><%= best_in_place [:brand, @item], :description, as: :textarea, :nil => "No Description", place_holder: "Description Here..", display_as: "display_desc", sanitize: false %></span>
          <div class="price clearfix marginT30px">
          <div class="col-md-6">
            <div class="text-left">Commission</div>
            <span><%= best_in_place [:brand, @item], :commission_in_currency, display_with: :number_to_currency, tabindex: "2", placeholder: "Add Commision (in $)" %></span>
          </div>
          <div class="col-md-6">
              <div class="text-right">Price</div>
              <span class="pull-right"><%= best_in_place [:brand, @item], :price, display_with: :number_to_currency, tabindex: "3" %></span>
            </div>
          </div>
          <div class="attribute-tabs">
            <% unless @item.heading_1.blank? and @item.heading_2.blank? and @item.heading_3.blank? %>
              <ul class="nav nav-tabs">
                <% unless @item.heading_1.blank? %>
                  <li class="active"><%= link_to @item.heading_1, '#tab1' %></li>
                <% end %>
                <% unless @item.heading_2.blank? %>
                  <li><%= link_to @item.heading_2, '#tab2' %></li>
                <% end %>
                <% unless @item.heading_3.blank? %>
                  <li><%= link_to @item.heading_3, '#tab3' %></li>
                <% end %>
              </ul>
              <div class="tab-content">
                <% unless @item.heading_1.blank? %>
                  <div id="tab1" class="tab-pane fade in active">
                    <p><%= @item.h1_description %></p>
                  </div>
                <% end %>
                <% unless @item.heading_2.blank? %>
                  <div id="tab2" class="tab-pane fade">
                    <p><%= @item.h2_description %></p>
                  </div>
                <% end %>
                <% unless @item.heading_3.blank? %>
                  <div id="tab3" class="tab-pane fade">
                    <p><%= @item.h3_description %></p>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <% attributes = eval(@item.style) %>
          <div class="row">
            <% attributes.each do |key, value| %>
              <div class="col-md-6 text-center min-height90">
                <% if key.downcase.include? "size" %>
                  <div class="size">
                    <p>Size</p>
                    <% if value.class == Array %>
                      <% value.each_with_index do |val, index| %>
                        <span class="size-in <%= 'active' if index == 0 %>"><%= val %></span>
                      <% end %>
                    <% else %>
                      <span class="size-in"><%= value %></span>
                    <% end %>
                  </div>
                <% elsif key.downcase.include? "color" %>
                  <div class="select-color">
                    <p>Color</p>
                    <% if value.class == Array %>
                      <select>
                        <% value.each_with_index do |val, index| %>
                          <option><%= val %></option>
                        <% end %>
                      </select>
                    <% else %>
                      <span class="size-in"><%= value %></span>
                    <% end %>
                  </div>
                <% else %>
                  <div class="<%= ((value.class == Array) ? 'select-color' : 'size') %>">
                    <p><%= key.humanize %></p>
                    <% if value.class == Array %>
                      <select>
                        <% value.each_with_index do |val, index| %>
                          <option><%= val %></option>
                        <% end %>
                      </select>
                    <% else %>
                      <span class="size-in"><%= value %></span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="form-switcher form-switcher-lg form-switcher-sm-phone pull-right">
            <span>Selling NO/YES</span>
            <label class="switch">
              <%= check_box_tag :enabled_for_sale, true, @item.enabled_for_sale %>
              <span class="slider round"></span>
            </label>

            <%#= best_in_place [:brand, @item], :enabled_for_sale, type: :checkbox, collection: ["<img src=\"#{image_path('user-default.jpg')}#\">", "<img src=\"#{image_path('user-default.jpg')}#\">"] %>
            <%#= check_box_tag :enabled_for_sale, true, @item.enabled_for_sale, class: "switcher pull-right" %>
            <%#= best_in_place [:brand, @item], :enabled_for_sale, as: :checkbox, collection: {false: "No", true: "Yes"}, class: "switcher pull-right" %>

            <%#= check_box_tag :switcher_lg, true, @item.enabled_for_sale %>
            <%#= label_tag :switcher_lg, '', class: "switcher pull-right" %>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

<%= javascript_include_tag 'gallery', 'data-turbolinks-track': 'reload' %>

<script>
  $(document).ready(function(){
    $(".attribute-tabs a").click(function(){
      $(this).tab('show');
      return false;
    });
  });

  $('.size .size-in').click(function(){
    $('.size .size-in').removeClass('active');
    $(this).addClass('active');
  });

  $('#enabled_for_sale').change(function(){
    val = $(this).is(":checked")
    $.ajax({
      url:  "/items/<%= @item.id %>",
      type: "PUT",
      data : { 'item[enabled_for_sale]': val },
      success: function(data){
      }
    });
  })
</script>
